* {
    margin: 0;
    padding: 0;
}
.body {
    font-family: 'Arial', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.profile__bacground {
    background-color: rgb(46, 94, 154);
    height: 400px;
    display: flex;
    border-radius: 0 0 10px 10px;
    position: relative;
    width: 100%;

}
.profile__header {
    background-color: white;
    box-shadow: 15px 15px 15px 5px rgba(0, 0, 0, 0.5);
    padding: 30px;
    position: relative;
    top: -150px;
    left: 100px;
    border-radius: 10px;
    max-width: 400px;
    border: 1px solid rgb(46, 94, 154);
}
.profile__top {
    display: flex;
    gap: 40px;
}
.profile__header hr{
    border: 1px solid rgb(46, 94, 154);
    margin: 20px 0;
}
.profile__image {
    width: 150px;
}
.profile__image img {
    width: 100%;
}
.profile__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profile__name {
    margin-bottom: 5px;
    font-size: 20px;
}

.profile__status::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.profile__status.online {
    color: rgb(0, 187, 0);
}
.profile__status.online::before {
    background-color: rgb(0, 187, 0);
}

.profile__btns {
    display: flex;
    gap: 10px;
}
.btn {
    padding: 10px;
    background-color: rgb(46, 94, 154);
    color: white;
    border-radius: 10px;
    width: 120px;
    box-sizing: border-box;
    border: 1px solid rgb(46, 94, 154);
    cursor: pointer;
    transition: .3s;
}
.btn:hover {
    background-color: transparent;
    color: rgb(46, 94, 154);
}
.btn-transparent {
    background-color: transparent;
    color: rgb(46, 94, 154);
}
.btn-transparent:hover {
    background-color: rgb(46, 94, 154);
    color: white;
}

.profile__change {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: white;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 10px;
}
.profile__change img {
    width: 15px;
}

.aboute__title {
    margin-bottom: 10px;

}
.aboute__text {
    margin-bottom: 20px;
}
.profile__contacts div {
    display: flex;
    gap: 10px;
}
.profile__contacts a {
    padding: 5px 15px;
    background-color: rgb(46, 94, 154);
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(46, 94, 154);
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
}
.profile__contacts a:hover {
    background-color: transparent;
    color: rgb(46, 94, 154);
}

/* adaptive */
@media (max-width: 700px) {
    .profile__change-bg p {
        display: none;
    }
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .profile__header {
        left: auto;
    }
}

@media (max-width: 600px){
    .profile__header {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 470px) {
    .profile__header {
        width: 80%;
    }
    .profile__top {
        gap: 10px;
    }
    .profile__contacts div {
        flex-direction: column;
    }
    .profile__actions {
        gap: 10px;
    }
    .btn {
        width: 100px;
    }
}
